<div class="upper-section">
  <div
    class="label-section h-36 flex flex-col items-center justify-center text-4xl font-extralight	text-text-color bg-[#e91624]">
    <div class="tracking-wider	">"WHAT SEEMS LIKE A BUG TODAY WILL SOON</div>
    <div class="tracking-wider	">BE A FEATURE YOU MASTER"</div>
  </div>
  <div class="about-section flex">
    <div class="image-section">
      <img class="max-w-3xl" src="https://pic.surf/lbc" alt="side-image" />
    </div>
    <div class="about-details bg-[#030303] flex flex-col justify-center w-full">
      <div class="text-text-color flex flex-col m-12">
        <p class="text-xl tracking-widest">ABOUT ME</p>
        <p class="text-5xl tracking-widest font-bold mt-2">VIKRANT RANA</p>
      </div>
      <div class="text-gray-300 ml-12 font-thin	tracking-wider w-3/4">
        I am a dedicated and skilled software engineer with professional experience in designing, developing, and
        maintaining high-quality software applications. I have a strong background in programming, problem-solving, and
        delivering scalable solutions tailored to meet user and business requirements. My expertise includes working
        with modern technologies and frameworks, ensuring clean and efficient code, and collaborating with
        cross-functional teams to deliver impactful projects. With a focus on innovation and continuous learning, I am
        passionate about leveraging technology to create solutions that drive efficiency and success.
      </div>
    </div>
  </div>
</div>