<div class="w-full p-4">
  <div class="flex flex-col">
    <div class="text-8xl font-extrabold tracking-widest		">
      {{ firstText }}
    </div>
    <div class="text-8xl font-extrabold tracking-widest	">
      {{secondText}}
    </div>
    <div class="text-8xl font-extrabold tracking-widest	">
      {{thirdText}}
    </div>
  </div>
  <div class="text-2xl py-6 leading-4 tracking-wider	">
    VIKRANT RANA - SOFTWARE ENGINEER
  </div>

  <div class="flex w-80	 justify-between ">
    <button
      class="border-custom-border rounded-sm border hover:bg-custom-border items-center w-36 h-10 justify-center font-thin transition-all duration-300 ease-in-out"
      (click)="openEmailSection()">Hire Me</button>
    <button
      class="flex items-center w-40 rounded-sm h-10 justify-center bg-[#e91624] text-[#030303] hover:text-text-color font-thin transition-all duration-300 ease-in-out"
      (click)="scheduleMeeting()">Schedule Meeting</button>
  </div>
</div>