<div class="image-space relative bg-cover bg-no-repeat bg-center h-screen h-[2000px]">
  <!-- Header Component -->
  <app-header></app-header>

  <!-- Homepage Component -->
  <app-homepage></app-homepage>
  <app-about></app-about>
  <app-skill></app-skill>
  <app-success></app-success>
  <app-contact></app-contact>
  <app-copyright></app-copyright>
  <app-toast></app-toast>
</div>

<div class="fixed top-1/2 left-4 transform -translate-y-1/2 z-50 flex flex-col rounded">
  @for(item of socialMedia; track item){
  <a href="{{item.redirect}}"> <img class="h-12 w-8 py-2" src="{{item.imageLink}}" alt=""></a>
  }
</div>

@if( showScrollButton){
<div class="fixed bottom-4 right-4 z-50 text-text-color py-2 px-4 w-20 mr-4 cursor-pointer">
  <svg (click)="scrollToTop()" class="transform rotate-180" preserveAspectRatio="xMidYMid meet"
    data-bbox="6.443 47.497 187.114 105.008" xmlns="http://www.w3.org/2000/svg" viewBox="6.443 47.497 187.114 105.008"
    role="img" aria-label="Back to top">
    <g>
      <path
        d="M174.476 51.261l-74.704 74.193L25.578 50.75c-4.287-4.316-11.566-4.341-15.882-.054s-4.341 11.565-.055 15.882l82.107 82.673c4.287 4.316 11.566 4.341 15.882.055l82.673-82.107c4.316-4.287 4.341-11.566.055-15.882s-11.235-4.342-15.882-.056z"
        fill="white">
      </path>
    </g>
  </svg>
</div>
}


<router-outlet></router-outlet>