
.workout-container{
  height: 100vh;
  background-image: url('https://static.wixstatic.com/media/1e47b2_b5556ecfae2f4690aa916577faa99062.jpg/v1/fill/w_2880,h_1810,al_c,q_90,enc_avif,quality_auto/1e47b2_b5556ecfae2f4690aa916577faa99062.jpg');
  z-index: 1;
}

/* Prevent background scrolling when modal is open */
body.overflow-hidden {
  overflow: hidden;
}

/* Modal background transition */
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.scale-95 {
  transform: scale(0.95);
}
.translate-y-10 {
  transform: translateY(40px);
}
.transform {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.pointer-events-none {
  pointer-events: none;
}
